# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:<b>
* Popular languages that Data Scientists use
* Commonly used libraries used by Data Scientists
* Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. scikit-learn
4. SciPy
5. TensorFlow
6. seaborn
7. matplotlib
8. PyTorch

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| RStudio           |
| PyCharm           |

### Introducing arithmetic expression examples
Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
round(200/60,2)

3.33

## Author
Balaji S